<div class="header-container">
  <div class="header-img-container">
    <img src="./assets/images/yara_logo.jpg" alt="Logo">
  </div>
  <div class="header-h1-container">
    <h1 style="margin-left: -20%">YARA COLOMBIA</h1>
  </div>
</div>
