.header-container {
  align-items: center;
  background: rgba(133, 136, 135, 0);
  color: #000000;
  display: flex;
  height: 120px;
  .header-img-container {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50%;
      margin: 0 10%;
    }
  }
  .header-h1-container {
    padding: 10%;
    width: 70%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: bold;
      font-size: 29px;
    }
  }
}
